.abc .contact-info {
    font-size: 12px;
  }

  .abc .nav-links {
    font-size: 19px;
    font-weight: 500;
    color: #212934 !important;
  }
  
  .abc .nav-links:hover {
    color: rgb(180, 69, 41) !important;
  }
  
  .abc .nav-items {
    margin-right: 100px;
    padding: 5px;
  }
  
  .abc .nav-icon {
    margin-right: 15px;
  }
  
  .abc  .cart {
    top: 1rem;
    right: 3.2rem;
    padding: 0px 5px;
   
    font-size: small;
    background: rgb(255, 255, 255);
  }

  /* .navbar2{
    background-color: rgb(244, 244, 244);
  } */

  .dark-mode {
    background-color: #a12525;
    color: #fff;
  }
  
  .dark-mode .contact-info {
    color: #fff;
  }
  
  .dark-mode .nav-links {
    color: #fff !important;
  }
  
  .dark-mode .nav-links:hover {
    color: rgb(122, 211, 112) !important;
  }
  
  .dark-mode .nav-icon {
    color: #fff;
  }
  
  .dark-mode .cart,
  .dark-mode .user {
    background: rgb(221, 221, 221);
    color: #000;
  }
  

  
  
  